In [3]:
from pydantic import BaseModel
from typing import Dict

class SingleValue(BaseModel):
    name: str
    description: str
    value: float

class EnumValue(BaseModel):
    name: str
    values: list[str]
    type: str

class Ifc2Uni(BaseModel):
    id: int  
    name: SingleValue 
    functional_properties: Dict[str, SingleValue]  
    color: SingleValue
    loudness: SingleValue
    conform: SingleValue
    description: SingleValue
    meaning: SingleValue
    weight: SingleValue
    density: SingleValue
    surface_structure: SingleValue
    classification: SingleValue
    price: float
    metadata: str

In [21]:
import pandas as pd
uni = pd.read_csv("Uniclass2015.csv")

# Fill down the Group, Sub group, and Section columns to propagate the last valid observation forward
uni['Group'] = uni['Group'].fillna(method='ffill')
uni['Sub group'] = uni['Sub group'].fillna(method='ffill')
uni['Section'] = uni['Section'].fillna(method='ffill')

# Define a function to find the parent code
def find_parent(code):
    parts = code.split('_')
    if len(parts) > 1:
        return '_'.join(parts[:-1])
    return ''

# Create the Parent column
uni['Parent'] = uni['Code'].apply(find_parent)

# Create the final table
tableuni = uni[['Code', 'Parent', 'Title']]
tableuni.columns = ['Code', 'Parent', 'Title']
tableuni

              Code    Parent                     Title
0               Ac                          Activities
1               Co                           Complexes
2               EF                 Elements/ functions
3               En                            Entities
4               FI                 Form of Information
...            ...       ...                       ...
15370  Ro_70_70_37  Ro_70_70        Highways operative
15371  Ro_70_70_68  Ro_70_70             Rail labourer
15372  Ro_70_70_70  Ro_70_70          Rail track layer
15373  Ro_70_70_72  Ro_70_70  Rail traction technician
15374  Ro_70_70_85  Ro_70_70    Street works operative

[15375 rows x 3 columns]

In [24]:
tableuni.head(15)

           Code    Parent                          Title
0            Ac                               Activities
1            Co                                Complexes
2            EF                      Elements/ functions
3            En                                 Entities
4            FI                      Form of Information
5            PM                       Project Management
6            Pr                                 Products
7            SL                        Spaces/ locations
8            Ss                                  Systems
9            TE                      Tools and Equipment
10           Zz                                      CAD
11           Ro                                    Roles
12        Ac_05        Ac  Project management activities
13     Ac_05_00     Ac_05      Strategy stage activities
14  Ac_05_00_10  Ac_05_00      Business case development

In [19]:
# Define a function to find the parent code
import numpy as np 

def find_parent(code):
    parts = code.split('_')
    if parts[0]=="PC":
        return "OK"
    return np.nan

# Create the Parent column
tableuni['Propreties'] = tableuni['Code'].apply(find_parent)
print(tableuni)
tableuni = tableuni.dropna().reset_index()
tableuni = tableuni[["Code", "Propreties", "Title"]]
tableuni

Empty DataFrame
Columns: [Code, Propreties, Title]
Index: []

Empty DataFrame
Columns: [Code, Propreties, Title]
Index: []

In [29]:
table = pd.read_excel("Uniclass2015_PC.xlsx", header=2)
table

,Code,Group,Sub group,Section,Object,Sub object,Title,NBS Code,COBie,NRM1,IFC 2x3 TC1,IFC 4Add2 TC1,CESMM
0,PC_10,10,NaN,NaN,NaN,NaN,Identifying properties,NaN,NaN,NaN,NaN,NaN,NaN
1,PC_10_05,10,5.0,NaN,NaN,NaN,Administrative identifiers,NaN,NaN,NaN,NaN,NaN,NaN
2,PC_10_05_23,10,5.0,23.0,NaN,NaN,District,NaN,NaN,NaN,NaN,NaN,NaN
3,PC_10_05_48,10,5.0,48.0,NaN,NaN,Local authority,NaN,NaN,NaN,NaN,NaN,NaN
4,PC_10_05_56,10,5.0,56.0,NaN,NaN,Nation,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,PC_90_80_15_91,90,80.0,15.0,91.0,NaN,Tuscan order,NaN,NaN,NaN,NaN,NaN,NaN
1313,PC_90_80_28,90,80.0,28.0,NaN,NaN,Egyptian,NaN,NaN,NaN,NaN,NaN,NaN
1314,PC_90_80_35,90,80.0,35.0,NaN,NaN,Grotesque,NaN,NaN,NaN,NaN,NaN,NaN
1315,PC_90_80_42,90,80.0,42.0,NaN,NaN,Islamic,NaN,NaN,NaN,NaN,NaN,NaN
1316,PC_90_80_59,90,80.0,59.0,NaN,NaN,Oriental,NaN,NaN,NaN,NaN,NaN,NaN